:root {
  --light-blue: #8cc8f0;
  --dark-blue: #2c3e50;
  --white: white;
  --button-bg-color: #496d91;
  --crimson: crimson;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.sorterer-main-container {
  background-color: var(--white);
  width: auto;
  margin: 10px;
  padding: 5px;
  position: relative;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}

.container {
  width: auto;
  height: 180px;
}

button {
  width: 80px;
  height: 25px;
  margin: 3px;
  background-color: var(--button-bg-color);
  color: var(--white);
  border-radius: 15px;
  border-width: 1px;
  outline: none;
}

.remove-button {
  position: absolute;
  font-size: 110%;
  top: 0px;
  right: 0px;
  color: var(--dark-blue);
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background: transparent;
}
.remove-button:hover {
  color: var(--crimson);
}

.add-button {
  width: 30px;
}
.column {
  position: absolute;
  width: 30px;
  background-color: var(--light-blue);
  margin: 10px;
  margin-top: 30px;
  transition-property: left;
  transition-duration: 0.2s;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 2px var(--dark-blue);
}

.text-box {
  background-color: var(--white);
  width: 200px;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}

.label {
  position: absolute;
  font-size: 110%;
  top: 1%;
  color: var (--dark-blue);
  left: 10px;
}
