:root {
  --light-blue: #8cc8f0;
  --dark-blue: #2c3e50;
  --white: white;
  --crimson: crimson;
  --gray: gray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

p {
  text-align: center;
}
.sorterer-main-container {
  background-color: var(--white);
  width: auto;
  margin: 5px;
  padding: 5px;
  position: relative;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}

.main-container {
  min-height: 50px;
  width: auto;
  height: auto;

  margin-top: 5px;
}

.colums-container {
  position: relative;
  width: auto;
  height: 190px;
  border: #2c3e50 2px solid;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 5px;
}

button {
  width: 90px;
  height: 25px;
  margin: 3px;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 15px;
  border-width: 1px;
  outline: none;
}

.close-button {
  position: absolute;
  font-size: 110%;
  top: 0px;
  right: 0px;
  color: var(--dark-blue);
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background: transparent;
}
.close-button:hover {
  color: var(--crimson);
}

.add-button {
  margin: 10px 0;
  width: 100px;
  height: 30px;
  display: block;
}

.get-data-button {
  display: none;
  width: 25px;
}
.column {
  position: absolute;
  width: 25px;
  background-color: var(--light-blue);
  margin: 20px;
  margin-top: 10px;
  transition-property: left;
  transition-duration: 0.2s;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px var(--dark-blue);
}

input {
  display: inline-block;
  width: 300px;
  height: 17px;
  padding: 3px;
  margin: 3px;
  border: 1px solid var(--gray);
}

select {
  margin: 3px;
  padding: 3px;
  border: 1px solid var(--gray);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  border: 2px solid var(--dark-blue);
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.5);
}

.center-block-element {
  block-size: 25px;
  display: block;
  margin: 0 auto;
}

.progressBar {
  position: absolute;
  top: 6px;
  right: 35px;
  border: solid 1px var(--dark-blue);
  width: 300px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background: var(--white);
  background-image: linear-gradient(
    90deg,
    var(--light-blue) 0%,
    var(--white) 0%
  );
}
.progressText {
  width: 100%;
  font-size: 15px;
  font-family: Arial;
}
