:root {
    --light-blue: #83b7da;
    --dark-blue: #2c3e50;
    --white: white;
    --button-bg-color: #496d91;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: var(--light-blue);
    padding: 2px;
    width: 100%;
    z-index: 1;
    position: fixed;
  }
  
  .block {
    position: relative;
    width: 45%;
    height: 20px;
    margin: 5px;
    border: #83b7da 2px solid;
    display: inline-block;
    overflow: auto;
  }
  
  .container {
    position: relative;
    border: var(--dark-blue) 2px solid;
    border-radius: 5px;
    width: auto;
    height: 180px;
    margin: 10px;
  }
  
  .container:hover {
    box-shadow: 0 0 5px var(--dark-blue);
    border: 2px solid var(--dark-blue);
  }
  
  .column {
    position: absolute;
    width: 25px;
    background-color: var(--light-blue);
    margin: 5px;
    transition-property: left;
    transition-duration: 0.2s;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px var(--dark-blue);
  }
  
  button {
    width: 80px;
    height: 25px;
    background-color: var(--button-bg-color);
    color: var(--white);
    border-radius: 15px;
  }
  
  .text-box {
    background-color: var(--white);
    width: 200px;
    height: 20px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .stringLegend {
    margin: 5px;
  }
  